.Skills {
  /* height: calc(100vh - 53px); */
  height: 800px;
  /* border: 2px solid black; */
  background-color: white;
  position: relative;
}

.skills__main {
  /* border: 1px solid red; */
  height: 100%;
  padding: 50px;
}

.heading {
  /* border: 1px solid red; */

  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading > h3 {
  letter-spacing: 2px;
  border-bottom: 4px solid #74bbebd7;
  padding-bottom: 5px;
  width: 80px;
}

.cards__skills {
  /* border: 1px solid whitesmoke; */
  /* border: 1px solid red; */
  padding: 19px 15px;
  height: 515px;
  max-width: 1305px !important;
  width: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 20px; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(238.5px, 1fr));
  gap: 8px;
  overflow: scroll;
  transition: all 2s;
  animation-duration: 2s;
  /* animation-name: r; */
}

/* @keyframes r {
  from {
    margin-top: 100%;
    width: 300%;
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
} */

@media only screen and (max-width: 600px) {
  .cards__skills {
    height: 550px;
  }
}
