.home {
  /* border: 2px solid red; */
  height: 95vh;

  /* object-fit: contain; */
}

.home__main {
  height: 88%;
  /* border: 1px solid black; */
  background-image: url("../../Assets/main_bg.jpeg");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro__description {
  margin-top: 2.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: white;
  letter-spacing: 0.2rem;
}

.intro__description h1 {
  font-size: 2.6rem;
  margin-bottom: 0.8rem;
}
.intro__description h1 span {
  opacity: 0.6;
}

.intro__description p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
}

.socialmedia___btn {
  margin-bottom: 0.8rem;
}

.resume p {
  margin-bottom: 1.3rem;
}

.resume__btn {
  padding: 0 1rem;
}

.down--btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .bounce_145ouu2 {
  width: 100px;
} */

/* .home img {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  object-fit: contain;
} */

@media (max-width: 300px) {
  .home__main {
    background-size: 340%;
  }

  .intro__description h1 {
    font-size: 1rem;
  }

  .intro__description p {
    font-size: 0.6rem;
  }
}

@media (min-width: 300px) {
  .home__main {
    background-size: 400%;
  }

  .intro__description h1 {
    font-size: 1.5rem;
  }

  .intro__description p {
    font-size: 0.8rem;
  }
}

@media (min-width: 390px) {
  .home__main {
    background-size: 267%;
  }

  .intro__description h1 {
    font-size: 1.5rem;
  }

  .intro__description p {
    font-size: 0.8rem;
  }
}

@media (min-width: 540px) {
  .home__main {
    background-size: 189%;
  }

  .intro__description h1 {
    font-size: 1.5rem;
  }

  .intro__description p {
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) {
  .home__main {
    background-size: 150%;
  }

  .intro__description h1 {
    font-size: 1.5rem;
  }

  .intro__description p {
    font-size: 0.8rem;
  }
}

@media (min-width: 820px) {
  .home__main {
    background-size: 130%;
  }

  .intro__description h1 {
    font-size: 1.5rem;
  }

  .intro__description p {
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  .home__main {
    background-size: 100%;
  }

  .intro__description h1 {
    font-size: 1.5rem;
  }

  .intro__description p {
    font-size: 0.8rem;
  }
}

@media (min-width: 1280px) {
  .home__main {
    background-size: 72%;
  }

  .intro__description h1 {
    font-size: 1.5rem;
  }

  .intro__description p {
    font-size: 0.7rem;
  }
}
