.home {
  /* border: 2px solid black; */
  /* height: calc(100vh - 53px); */
  height: 830px;
}

.home__main {
  /* border: 1px solid green; */
  height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  position: relative;
}

.bounce_145ouu2 {
  position: absolute !important;
  height: 70px !important;
  bottom: 120px !important;
  right: -177px !important;
  left: -177px !important;
  width: fit-content !important;
  /* border: none !important; */
  padding-top: 10px !important;
  color: "black" !important;
}

._145ouu2 {
  bottom: 130px;
  position: absolute;
}

.intro__description {
  /* border: 1px solid green; */
  height: fit-content;
  margin-top: 18%;
  color: white;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro__description > h1 > span {
  color: rgb(152, 193, 232);
}

.intro__description > p {
  margin: 10px;
}

.socialmedia___btn {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 110px;
}

.resume {
  /* height: 100px; */
  /* border: 2px solid black; */
  margin-top: 10px;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resume > p {
  margin-bottom: 10px;
}

@media only screen and (max-width: 1280px) {
  .intro__description {
    margin-top: 17%;
  }
}

@media only screen and (max-width: 1258px) {
  .intro__description {
    margin-top: 16%;
  }
}

@media only screen and (max-width: 1170px) {
  .intro__description {
    margin-top: 20%;
  }
}

@media only screen and (max-width: 1078px) {
  .intro__description {
    margin-top: 19%;
  }
}

@media only screen and (max-width: 1020px) {
  .intro__description {
    margin-top: 19%;
  }
}

@media only screen and (max-width: 963px) {
  .intro__description {
    margin-top: 25%;
  }
}
@media only screen and (max-width: 912px) {
  .intro__description {
    margin-top: 24%;
  }
}

@media only screen and (max-width: 880px) {
  .intro__description {
    margin-top: 24%;
  }
}

/* @media only screen and (max-width: 820px) {
  .intro__description {
    margin-top: 39%;
  }
} */

@media only screen and (max-width: 805px) {
  .intro__description {
    margin-top: 35%;
  }
}

@media only screen and (max-width: 690px) {
  .intro__description {
    margin-top: 45%;
  }
}

@media only screen and (max-width: 500px) {
  .intro__description {
    margin-top: 40%;
  }
}
@media only screen and (max-width: 414px) {
  .intro__description {
    margin-top: 60%;
  }
  .intro__description > h1 {
    font-size: 26px;
  }
  .intro__description > p {
    font-size: 16px;
  }
  .resume {
    font-size: 13px;
  }

  .resume__btn {
    padding: 5px !important;
    font-size: 10px !important;
  }

  .down__btn {
    right: -157px !important;
    left: -157px !important;
  }
}
@media only screen and (max-width: 393px) {
  .intro__description {
    margin-top: 60% !important;
  }
  .intro__description > h1 {
    font-size: 20px;
  }
  .intro__description > p {
    font-size: 14px;
  }
  .resume {
    font-size: 13px;
  }

  .resume__btn {
    padding: 4px !important;
    font-size: 10px !important;
  }

  .down__btn {
    right: -135px !important;
    left: -135px !important;
  }
}

@media only screen and (max-width: 360px) {
  .intro__description {
    margin-top: 70% !important;
  }
}

@media only screen and (max-width: 375px) {
  .intro__description {
    margin-top: 70% !important;
  }

  .intro__description > h1 {
    font-size: 19px;
  }
  .intro__description > p {
    font-size: 13px;
  }
  .resume {
    font-size: 12px;
  }

  .resume__btn {
    padding: 0 !important;
    font-size: 10px !important;
  }
  .down__btn {
    right: -135px !important;
    left: -135px !important;
  }
}
